{% extends 'base.html' %}
{% block content %}
<form action="">
    <div class="mb-3">
        <label class="form-label">Search For Movie</label>
        <input type="text" class="form-control" name="SearchMovie">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p>You searched: {{searchTerm}}</p>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for movie in movies %}
    <div class="col">

        <div class="card h-100">
            <a href="{% url 'details' movie.id %}">
                <img src="{{movie.image.url}}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <a href="{% url 'details' movie.id %}" class="text-decoration-none text-reset">
                    <h5 class="card-title">{{movie.title}}</h5>
                </a>
            </div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}